* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    padding: 23px 10%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    color: #5E5D5D;
    font-size: 14pt;
}

.commition {
    background-color: #FE8E05;
    padding: 12px 47px;
    font-size: 14pt;
    border-radius:  10px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.separator {
    background-color: #5e5d5d4f;
    border: none;
    height: 2px;
}

.nav-list {
    list-style-type:none;
    display: flex;
    gap: 2em;
    padding: 0;
    
}

.nav-list a {
    text-decoration: none;
    color: #5E5D5D;
    font-size: 14pt;
}

.nav-list a:hover {
    color: #FE8E05;
}

.logo {
    color: #000;
    font-weight:bold;
    font-size: 30pt;
}

.giro {
    background-image: url(../imgs/Scooter_Main.png);
    background-size: cover;
    width: 100%;
    height: 70vh;
    min-height: 600px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.giro-description {
    color : #FFF;
    display: block;
    text-align: center;
    font-size: 18pt;
    margin: 19px 0 40px;
    font-weight: 300;
}

.catalog-btn {
    text-decoration: none;
    display: block;
    color: #000;
    border: #FFF;
    border-radius: 10px;
    display: block;
    background-color: #FFF;
    font-size: 14pt;
    font-weight: bold;
    padding: 7px 23px;
}

.my-giro {
    font-size:74pt;
    color: #fff;
    font-weight: 300;
}

.advantage-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-header {
    color: #5E5D5D;
    font-weight: 300;
    font-size: 28pt;
    display: block;
    margin: 3% 0 7%;
}

.advantage-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

}

.advantage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;

}

.advantage-img {
    width: 90%;
    height: 80%;
    margin-bottom: 8%;
}

.advantage-description {
    font-weight: 300;
    font-size: 14pt;
    color: #5E5D5D;
}

.about-description {
    font-weight: 300;
    line-height: 30px;
    font-size: 17pt;
}

.newsletter {
    background-color: #FE8E05;
    display: flex;
    padding: 2% 10%;
    gap: 3%;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.newsletter-description {
    color: #FFF;
    font-weight: 600;
    max-width: 30%;
    font-size: 13pt;
}

.interact {
    display: flex;
    gap: 3%;
    width: 70%;
    justify-content: end;
}

.input-field {
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 1% 2%;
    width: 30%;
}

.input-field::placeholder {
    color: #FFF;
}

.input-field:focus {
    outline: none;
    border-color: #F0F0F0;
}

.newsletter-btn {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 1% 2%;
    font-weight: bold;
    font-size: 10pt;
    width: 30%;
    text-align: center;
}
.list {
    font-weight:300;
    list-style-type: none;
    font-size: 17pt;
}

.list-container {
    display: flex;
    gap: 3em;
    padding-bottom: 3em;
}

.features-description {
    font-size : 17pt;
    font-weight: 300;
}

.catalog {
    background-color:#FBFBFB;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3em;
}

.catalog-item:hover {
    background-color: #FE8E05;
    color: #FFF;
    border-radius: 10px;
    transition: background-color 0.1s ease-in-out;
    
}

.catalog-item {
    color:#000;
    font-weight: 300;
    font-size: 16pt;
    padding: 0 0.3em;
}

.catalog-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catalog-list {
    padding-top: 1.5em;
}

.goods-container {
    display: flex;
    gap: 5%;
    width: 100%;
}

.catalog-card {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    height: auto;
    background-color: #fff;
}

.catalog-card:hover {
    box-shadow: 5px 10px 10px lightgray;
    transition: box-shadow 0.3s ease-in-out; 
}

.card-tag {
    background-color: #FE8E05;
    font-weight: 600;
    font-size: 12pt;
    color: #FFF;
    width: auto;
    align-self: flex-start;
    padding: 0.2em 0.6em;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 1em;
}

.card-content {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.catalog-card-img {
    display: block;
    width: 80%;
    height: 70%;
    padding: 0.5em;
    margin: 0 auto;
    object-fit: contain;
}

.catalog-card-description {
    color: #5E5D5D;
    font-weight: 300;
    font-size: 14pt;
}

.catalog-card-price {
    color: #5E5D5D;
    font-weight: bold;
    font-size: 16pt;
    padding-top: 1em;
}

.consult-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.consult-card {
    background-color: #FBFBFB;
    width: 30%;
    display: flex;
}

.consult-img-container {
    width: 65%;
    height: 100%;
}

.consult-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.consult-name {
    font-size: 20px;
    color: #5E5D5D;
    margin-bottom: 0.3em;
}

.consult-vacation {
    color: #5E5D5D;
    font-style: italic;
    font-size: 12px;
}

.consult-button {
    text-decoration: none;
    background-color: #FE8E05;
    border-radius: 10px;
    padding: 0.2em 0.5em;
    color: #FFF;
    display: inline-block;
    width: auto;
    align-self: flex-start;
    margin-top: 1em;
}

.brands {
    background-color: #FBFBFB;
    margin-top: 3%;
}

.brand-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding: 3%;
    align-items: center;
    justify-content: center;
}

.brand-item {
    text-decoration: none;
    color: #9B9B9B;
    font-weight: bold;
    font-size: 40px;
}

.info-container {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.info-block {
    width: 23%;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-text {
    position: absolute;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    top: 40%;
    text-align: center;
    z-index: 2;
}

.block-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.dark-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F0F0F0;
    padding: 5% 10%;
}

.footer-text {
    width: 40%;
    font-size: 14px;
}

.footer-block-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    width: 50%;
}

.footer-block {
    width: 33%;
}

.footer-block-header {
    font-size: 14px;
    font-weight: bold;
}

.footer-nav {
    list-style: none;
    padding: 1.5em 0;
}


.footer-nav-item {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-nav-item:hover {
    color: #FE8E05;
    transition: color 0.3 ease-in-out;
}

@media (max-width: 800px) {
    .nav-list a, .catalog-item{
        font-size: 14px;
    }

    .logo {
        font-size: 20px;
    }

    .list {
        font-size: 14px;
    }

    .brand-item {
        font-size: 20px;
    }
}